@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8edef;
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}


/* Container */
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

/* Footer */
.footer {
  background: #374f63;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  margin: auto;
  margin-top: auto;
}

.footer-title {
  color: #fff;
}

.footer p {
  margin: 0;
}

/* Header */
.header {
  background: #374f63;
  border-radius: 6px;
  color: #fff;
  margin: auto;
  margin-top: 4px;
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-headshot {
  border-radius: 6px;
  height: 6rem;
}

.header-title-subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-title {
  display: inline;
  font-size: 1.5rem;
  margin: 0 18px 0;
}

.header-subtitle {
  display: inline;
  font-size: 1rem;
  color: rgb(238, 243, 249);
  margin-left: 1rem;
  font-style: italic;

}

/* HeaderNav */
.headernav {
  margin-left: 4rem;
}

.headernav-link {
  color: #fff;
  font-style: italic;
  margin-right: 1.5rem;
  transition: transform 0.2s ease, font-weight 0.2s ease;
  display: inline-block;
  transform-origin: center;
}

.headernav-link:hover {
  cursor: pointer;
  transform: scale(1.2);
  text-shadow: 0 0 1px currentColor;
}

/* MainContent */
.maincontent {
  width: 95%;
  margin: auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Media Queries for Responsive Design */

/* For small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .maincontent {
    width: 100%;
    padding: 0 10px;
    /* Optional: Add some padding */
  }
}

/* For medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .maincontent {
    width: 90%;
  }
}

/* For large screens (e.g., desktops) */
@media (min-width: 1025px) {
  .maincontent {
    width: 80%;
  }
}

.canvas-content {
  border: .5px solid rgb(205, 205, 210);
  border-radius: 6px;
  margin-top: 3px;
  flex: 1;
  flex-grow: 1;
  width: 100%;
  /* overflow: auto; */
  margin-left: 4px;
}

.canvas-title {
  color: rgb(12, 53, 12);
  font-size: x-large;
  margin: 1rem 0;
  text-decoration: underline;
}

.bookmarks-content {
  border: .5px solid rgb(205, 205, 210);
  border-radius: 6px;
  margin-top: 3px;
  flex: 1;
  flex-grow: 1;
  width: 70%;
  /* overflow: auto; */
  margin-left: 4px;
}

.canvasright-content {
  /* background-color: rgb(246, 252, 254);
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
  margin-top: 3px; */
  color: rgb(205, 207, 212);
  /* width: 100px;s */
  line-height: 1;
  padding: 4px;
}

.canvasright-title {
  /* border: 1px solid green;
  color: green; */
}

.canvasright-body {
  /* border: 1px solid rgb(203, 16, 119);
  color: rgb(203, 16, 119); */
  border: 1px solid red;
  width: 100px;
}


.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

/* Posts */

.posts-container {
  width: 30%;
}

.posts-title {
  color: rgb(12, 53, 12);
  font-size: x-large;
  margin: 1rem 0;
  text-decoration: underline;
}

.post-card-title {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.post-card {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 6px;
  background-color: #fbfeff;
  padding: 2px 0 8px 4px;
  height: auto;
}


.post-summary {
  color: rgb(80, 80, 96);
  margin-left: 4px;
  font-size: 14px;
}



/* Profile Section */
.profile {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile img {
  border-radius: 6px;
  max-width: 150px;
  height: auto;
}

.profile-details {
  flex: 1;
}

.profile-details h2 {
  color: #8b1c1c;
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}

.profile-details ul {
  list-style: none;
  padding: 0;
}

.profile-details ul li {
  margin-bottom: 5px;
}

.profile-details a {
  color: #007acc;
  text-decoration: none;
}

.profile-details a:hover {
  text-decoration: underline;
}

/* Projects project-card */
.project-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
  /* width: 100%; */
  text-align: left;
}

.project-card a {
  height: 150px;
  margin-bottom: 4px;
}

.project-card img {
  min-width: 180px;
}

.project-card:hover {
  transform: scale(1.01);
  /* Slightly enlarge the card on hover */
}

.project-title {
  font-size: large;
  padding-left: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.project-description {
  font-size: 90%;
  padding-left: 1rem;
  color: #000000;
  width: 100%;
}

.project-details {
  flex: 1;
  /* Allow the details to take up the remaining space */
  padding: 16px;
  /* Padding around the details */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the content vertically */
}

/* Prototypes project-card */
/* Prototypes prototype-card */
.prototype-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
  width: 80%;
  text-align: left;
  height: 8rem;
}

.prototype-card a {
  height: 150px;
  margin-bottom: 4px;
}

.prototype-card img {
  min-width: 12rem;
}

.prototype-card:hover {
  transform: scale(1.01);
  /* Slightly enlarge the card on hover */
}

.prototype-title {
  font-size: large;
  padding-left: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.prototype-description {
  font-size: 90%;
  padding-left: 1rem;
  color: #000000;
  width: 60%;
}

.prototype-details {
  flex: 1;
  /* Allow the details to take up the remaining space */
  padding: 16px;
  /* Padding around the details */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the content vertically */
}


/* Resume links*/
.resume-links {
  margin: 16px 0 8px 0;
}

/* Experience and Education Sections */
.section {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.section h3 {
  margin-bottom: 10px;
  color: #2e3a44;
}

.section p {
  margin-bottom: 10px;
}

.section strong {
  color: #8b1c1c;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 8px;
}

.section ul li::before {
  content: '• ';
  color: #8b1c1c;
}

/* SideBar */
.sidebar {
  background-color: rgb(246, 252, 254);
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
  color: navy;
  display: inline-block;
  height: 99%;
  margin-top: 3px;
  width: 20%;
}

.sidebar-title {
  color: rgb(12, 53, 12);
  font-size: x-large;
  /* margin: 0 1rem; */
  text-decoration: underline;
}

/* SocialIcons */
.social-icons-container {
  padding: 1rem 0;
  margin: 16px 0 8px 0;
}

.social-icon-linkedin {
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  width: 32px;
  height: 30px;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.social-icon-github {
  fill: #000000;
  display: inline-block;
  margin-left: 1rem;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.social-icon-emailenvelope {
  display: inline-block;
  width: 32px;
  height: 28px;
  margin-left: 1rem;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.social-icon-github:hover,
.social-icon-linkedin:hover,
.social-icon-emailenvelope:hover {
  /* border: 3px solid #fff; */
  border-radius: 8px;
  transform: scale(1.2);
}

.bookmark-title {
  color: rgb(12, 53, 12);
  font-size: large;
  margin-top: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile img {
    max-width: 100%;
  }
}